@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  background: #21284b;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.btn {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  text-decoration: none;
  background: none;
}
.btn.btn-contact {
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #ad1414;
  margin: 10px auto;
  color: #fff;
  transition: opacity 0.3s linear;
}
.btn.btn-contact:hover {
  transition: opacity 0.3s linear;
  opacity: 0.8;
}
.btn.btn-close {
  float: right;
}
.btn.btn-close i {
  font-size: 20px;
}

header {
  padding: 5px 10px;
  background: rgba(20, 25, 46, 0.5);
  box-shadow: 0 1px 4px #000;
}
header .title {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

section.info {
  padding: 10px;
}
section.info .image {
  width: 200px;
  height: 200px;
  margin: 10px auto;
}
section.info .image img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

main {
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
  max-height: 550px;
  overflow-y: auto;
}
main::-webkit-scrollbar {
  width: 0.5em;
}
main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.9);
}
main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
main .work {
  background-color: #cfcfcf;
  margin-bottom: 5px;
  cursor: help;
}
main .work:hover {
  transition: all 0.3s linear;
}
main .work:hover .work-body {
  max-height: 200px;
  opacity: 1;
}
main .work .work-header {
  text-align: center;
  color: #21284b;
  text-transform: uppercase;
  font-size: 36px;
  padding: 10px;
  position: relative;
}
@media (max-width: 639px) {
  main .work .work-header {
    font-size: 20px;
  }
}
main .work .work-header .number {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
main .work .work-body {
  transition: all 0.3s linear;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
main .work .work-body .desc {
  display: block;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: #ad1414;
  font-weight: 700;
}
@media (max-width: 639px) {
  main .work .work-body .desc {
    font-size: 16px;
  }
}
main .work .work-body .link {
  display: block;
  text-align: center;
  transition: opacity 0.3s linear;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 10px;
  width: 95%;
  margin: 10px auto;
  font-weight: 700;
  color: #21284b;
  border: 1px solid #21284b;
  background-color: #fabd60;
}
@media (max-width: 639px) {
  main .work .work-body .link {
    padding: 10px 8px;
  }
}
main .work .work-body .link:hover {
  transition: opacity 0.3s linear;
  opacity: 0.8;
}

body.index-template {
  background-image: url(../static/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
body.index-template.popup-opened {
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
body.index-template.popup-opened section.popup {
  display: block;
}

section.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orange;
  box-shadow: 0 0 12px #000;
  padding: 20px;
  max-width: 800px;
  width: 95%;
  min-height: 70vh;
}
section.popup .social__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
section.popup .social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 4px #000;
  background-color: rgba(253, 173, 25, 0.8);
  margin-bottom: 5px;
  padding: 10px;
  transition: all 0.3s linear;
  color: #170099;
}
section.popup .social__link:hover {
  transition: all 0.3s linear;
  box-shadow: 0 0 2px #000;
}
section.popup .social__link:hover i {
  transition: all 0.3s linear;
  opacity: 0.7;
}
section.popup .social__link i {
  transition: all 0.3s linear;
  margin-left: 10px;
  font-size: 36px;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
