@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
}

/* some settings */

.container {
  position: relative;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.bg-fff {
  background: #ffffff;
}

.bg-000 {
  background: #000000;
}

.color-fff {
  color: #ffffff;
}

.color-000 {
  color: #000000;
}

/* styles */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: anim-scale-rotate 2s linear infinite;
}

.square {
  width: 200px;
  height: 200px;
  border: 4px solid #000000;
}

.square.one {
  z-index: 1;
}

.square.two {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 90px;
  font-weight: 600;
  color: green;
}

/* animations */
@keyframes anim-scale-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0) scale(1);
  }
  33% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  66% {
    transform: translate(-50%, -50%) scale(0.8) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(45deg);
  }
}

/* media */
@media screen and (max-width: 767px) {
}
