.title {
 margin: 50px 0;

 a {
  text-decoration: none;
  &:hover {
   color: red;
  }
 }
}

.demo,
.testtask,
.rust,
.webpack,
.csharp1,
.csharp2 {
 margin-bottom: 25px;
 &:hover {
  color: red;
 }
}
