<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Developer CSS -->
    <link rel="stylesheet" href="./css/style.css" />
    <title>Colors template</title>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <div class="container-fluid">
        <div class="row header__wrapper">
          <div class="col-2 offset-1">
            <div class="logo">Mw</div>
          </div>
          <div class="col-5 offset-4">
            <nav class="header__nav navigation__desktop">
              <a href="#colors" class="header__nav-link">The Products</a>
              <a href="#services" class="header__nav-link">Services</a>
              <a href="#music" class="header__nav-link">Contact me</a>
            </nav>
            <button id="menu__toggle" class="btn__navigation-toggle" role="button">Menu</button>
          </div>
          <div class="col-12 navigation__mobile text-center toggle__navigation-is-active">
            <nav class="header__nav-mobile">
              <a href="#colors" class="header__nav-link">The Products</a>
              <a href="#services" class="header__nav-link">Services</a>
              <a href="#music" class="header__nav-link">Contact me</a>
            </nav>
          </div>
        </div>
        <div class="row header__content">
          <div class="col-md-12 col-lg-5 offset-lg-6">
            <h1 class="header__title">Join the colors.</h1>
            <p class="header__desc">There are only 3 colors, 10 digits</p>
            <button class="header__button">Join now</button>
          </div>
        </div>
      </div>
    </header>
    <!-- //header -->
    <!-- colors -->
    <section id="colors" class="colors">
      <div class="container colors__content">
        <div class="row">
          <div class="col-12">
            <h2 class="colors__title">There are only 3 colors, 10 digits</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="colors__desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
              was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
              versions of Lorem Ipsum.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="colors__list">
              <div class="colors__list-squared bg-warning"></div>
              <div class="colors__list-squared bg-danger"></div>
              <div class="colors__list-squared bg-success"></div>
              <div class="colors__list-squared bg-dark"></div>
              <div class="colors__list-squared bg-info"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //colors -->
    <!-- services -->
    <section id="services" class="services">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-4 service__one">
            <div class="service__top-one">
              <img src="./img/statistic.png" alt="" class="services__img" />
              <h3 class="services__title">SEO Optimized</h3>
              <p class="services__desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4 service__two">
            <div class="service__top-two">
              <img src="./img/ipad.png" alt="" class="services__img" />
              <h3 class="services__title">Responsive</h3>
              <p class="services__desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4 service__three">
            <div class="service__top-three">
              <img src="./img/upload.png" alt="" class="services__img" />
              <h3 class="services__title">Cloud Services</h3>
              <p class="services__desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //services -->
    <!-- music -->
    <section id="music" class="music">
      <div class="music__bg"></div>
      <div class="music__overlay"></div>
      <div class="music__content">
        <div class="container text-center music__wrapper">
          <div class="row">
            <div class="col-12">
              <p class="music__content-desc">Music is all of a sudden much more <span class="music__content-desc2">colorful</span>.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="music__button" role="button">View more</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //music -->
    <!-- colors__panel -->
    <section class="colors__panel">
      <div class="container-fluid">
        <div class="row">
          <div class="col-1 bg-success colors__panel-rect"></div>
          <div class="col-1 bg-dark colors__panel-rect"></div>
          <div class="col-1 bg-danger colors__panel-rect"></div>
          <div class="col-1 bg-warning colors__panel-rect"></div>
          <div class="col-1 bg-info colors__panel-rect"></div>
          <div class="col-1 bg-success colors__panel-rect"></div>
          <div class="col-1 bg-dark colors__panel-rect"></div>
          <div class="col-1 bg-danger colors__panel-rect"></div>
          <div class="col-1 bg-warning colors__panel-rect"></div>
          <div class="col-1 bg-info colors__panel-rect"></div>
          <div class="col-1 bg-success colors__panel-rect"></div>
          <div class="col-1 bg-dark colors__panel-rect"></div>
        </div>
      </div>
    </section>
    <!-- //colors__panel -->
    <!-- footer -->
    <footer class="footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-12">
            <p class="footer__copyright">Copyright © 2013 Css Author</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- //footer -->
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- main.js -->
    <script src="./js/main.js"></script>
  </body>
</html>
