.max__width {
  max-width: 780px;
}
.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100% 0);
}
.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.left__control {
  bottom: auto;
}
.right__control {
  top: auto;
}
.left__control,
.right__control {
  height: 15%;
  width: 100%;
}
.rotate {
  transform: rotate(90deg);
}
