body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
button {
  cursor: pointer;
}
.header {
  position: relative;
  background-image: url("../img/top_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.header__wrapper {
  padding-top: 30px;
}
.logo {
  font-size: 50px;
  font-weight: 400;
  line-height: 44.72px;
}
.header__nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 44.72px;
  text-transform: uppercase;
  text-decoration: none !important;
  margin-right: 30px;
}
.header__nav-link:last-child {
  margin-right: 0;
}
.header__nav-link:hover {
  color: yellow;
}
.btn__navigation-toggle {
  display: none;
}
.toggle__navigation-is-active {
  display: none;
}
@media screen and (min-width: 992px) {
  .navigation__mobile {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .navigation__desktop {
    display: none;
  }
  .btn__navigation-toggle {
    display: block;
    margin-left: auto;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 0 10px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 44.72px;
  }
  .header__nav-mobile {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .header__nav-link {
    margin-right: 0;
  }
}
.header__content {
  margin-top: 170px;
  margin-bottom: 170px;
}
@media screen and (max-width: 992px) {
  .header__content {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.header__title {
  font-size: 40px;
  font-weight: 300;
  line-height: 44.72px;
  margin-bottom: 5px;
}
.header__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 44.72px;
  margin-bottom: 5px;
}
.header__button {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 0 30px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 44.72px;
}
.header__button:hover {
  color: yellow;
  border: 2px solid yellow;
}
.colors__content {
  padding-top: 90px;
  padding-bottom: 90px;
}
.colors__title {
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  line-height: 44.72px;
}
.colors__desc {
  color: #404040;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.72px;
  max-width: 900px;
}
.colors__list-squared {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: -5px;
}
@media screen and (max-width: 768px) {
  .colors__content {
    text-align: center;
    padding: 20px;
  }
}
.service__one {
  background-color: #404040;
  padding-right: 45px;
}
.service__two {
  background-color: #f74c55;
}
.service__three {
  background-color: #2d5f3b;
  padding-left: 45px;
}
.service__one,
.service__two,
.service__three {
  padding-top: 30px;
  padding-bottom: 60px;
}
.service__top-one {
  max-width: 300px;
  margin-right: 0;
  margin-left: auto;
}
.service__top-two {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.service__top-three {
  max-width: 300px;
  margin-right: auto;
  margin-left: 0;
}
.services__img {
  max-width: 30px;
  margin-right: 10px;
}
.services__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 44.72px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.services__desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 24.72px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .service__top-one,
  .service__top-three {
    margin-left: auto;
    margin-right: auto;
  }
  .service__one,
  .service__two,
  .service__three {
    padding: 20px;
  }
}
.music {
  position: relative;
}
.music__bg {
  position: absolute;
  background-image: url("../img/music_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.music__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 0.84;
}
.music__content {
  position: relative;
  padding-top: 250px;
  padding-bottom: 250px;
  z-index: 2;
}
@media screen and (max-width: 968px) {
  .music__content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.music__wrapper {
  max-width: 600px;
  z-index: 3;
}
.music__content-desc {
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 300;
  line-height: 53.72px;
}
.music__content-desc2 {
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  line-height: 53.72px;
}
.music__button {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 30px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 44.72px;
}
.music__button:hover {
  color: yellow;
  border: 2px solid yellow;
}
.colors__panel-rect {
  height: 10px;
}
@media screen and (max-width: 576px) {
  .colors__panel {
    display: none;
  }
}
.footer {
  margin: 30px auto;
}
.footer__copyright {
  opacity: 0.8;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 53.72px;
  padding: 0;
  margin: 0;
}
