* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}

button {
 outline: none !important;
 box-shadow: none !important;
}

.container {
 max-width: 1140px;
 margin: 0 auto;
}

/* Slider */

.slider {
 display: flex;

 max-width: 500px;
 margin-bottom: 20px;
}

/* Slide status */

.slider .slide.active {
 display: block;
 animation: anim-opacity 1s linear;
}

/* Slide styles */

.slider .slide {
 border: 1px solid #000000;
 border-radius: 10px;
 padding: 30px 15px;

 transition: 0.3s;
 display: none;
}

.slider .slide h1 {
 text-align: center;
 margin-bottom: 20px;
}

.slider .slide p {
 margin-bottom: 0;
}

/* Buttons */

.sliderButtons {
 display: flex;
 justify-content: space-around;
}

.sliderButtons button {
 padding: 8px;
 background: inherit;
 border: 1px solid #000000;
 border-radius: 10px;
 color: #000000;
 cursor: pointer;
 transition: 0.3s;
}

.sliderButtons button:hover {
 background: #8f8888;
}

/* Animations */
@keyframes anim-opacity {
 0% {
  opacity: 0;
 }
 20% {
  opacity: 0.2;
 }
 40% {
  opacity: 0.4;
 }
 60% {
  opacity: 0.6;
 }
 80% {
  opacity: 0.8;
 }
 100% {
  opacity: 1;
 }
}
